
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ff6600;

  }

  .logo-container {
    margin-right: 20px;
  }

  .fiserv_logo {
    width: 100px; 
    height: auto;
  }