.carousel-container {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .carousel-item {
    margin-left: 200px;
    margin-right: 100px;
    display: block;
  }
  
  .slick-prev,
  .slick-next {

  }

  .slick-arrow {
    color: #000;
  }
    
  
    .slick-next:before, .slick-prev:before {
        font-family: slick;
        font-size: 30px;
        line-height: 1;
        opacity: .75;
        color: #ff6600;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }


  .slick-dots {
    height: 10px;
    bottom: 5px;
    z-index: 1;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #000;
  }
  
  .slick-dots li.slick-active button:before {
    color: #ff6600;
  }
  