:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg: #1f1f38;
  --color-bg-variant: #333333;
  --color-primary: #666666;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

a {
  color: var(--color-bg);
  transition: var(--transition);
  text-decoration: none;
}



body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.btn {
  width: max-content;
  display: inline-block;
  color: #ff6600;
  padding: 0.65rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: var(--transition);
  font-weight: bold;
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-primary);
  border-color: #ff6600;
}

.btn-primary {
  background-color: var(--color-primary);
  color: #ff6600;
  font-weight: bold;
}


